/* Colors
    White #FEFFF8
    LightGreen #EDF491
    DarkGreen #575B25
    Black #0C0D05
    LightBlue #DEDEDE
    DarkBlue: #13738F
    PinkVisited #EF98AF
    PinkHoover #D01547

*/


body
{
    font-size: 1.1em;
    font-family: Arial, Helvetica, Sans-Serif;
    color: #0C0D05;
    background-color: #FEFFF8;
    
}

footer,
nav,
section {
    display: block;
}

header 
{
    background-color: #0C0D05;
    color: #FEFFF8;
	z-index: 2;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 4px;
}

header a:link
{
    color: #13738F;
}

header a:visited
{
    color: #EF98AF;
}

header a:hover
{
    color: #D01547;
}

header a:active
{
    color: #D01547;
}

a:link
{
    color: #DEDEDE;
}

a:visited
{
    color: #EF98AF;
}

a:hover
{
    color: #D01547;
}

a:active
{
    color: #D01547;
}

#headerContent
{
    width: 860px;
    height: 2em;
    margin: auto;
    
}

section
{
    width: 860px;
    margin: auto;
    margin-top: 1em;
    padding-top: 2em;
    background-color: #FEFFF8;
    min-height: 600px;
}

footer
{
    width: 100%;
}

#footerContent
{
    width: 860px;
    margin: auto;
    height: 2em;
    background-color: #EDF491;
}

#footerContent p
{
    float: right;
    margin: 0.3em;
}

h1
{
    font-size: 4em;
    font-weight: bold;
    color: #575B25;
}

h2
{
    font-size: 2em;
    color: #575B25;
}

h3
{
    font-size: 1em;
    color: #575B25;
}


/* Styles for basic forms
-----------------------------------------------------------*/

ul
{
    list-style-type: none;
}

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

table
{
    border: 2px solid #DEDEDE;
    background-color: #FEFFF8;
    color: #13738F;
}
th
{
    font-weight: bold;
    min-width: 4em;
    padding: 2px;
}
    
td
{
    padding: 2px;
}




/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for special forms
------------------------------------------------------------------------ */

#navlist
{
    margin: auto; 
}

#navlist li
{
     display: inline;
}

#searchForm
{
    float: right;    
}

#browseMenu
{
    margin: 0.75em;
    padding: 0.5em;
    float: left;
    display: block;
    min-height: 500px;
    border-right: 1px Solid #DEDEDE;
}

#shoppingCart
{
    margin-right: 2em;
    float: right;
    display: inline;    
}

#checkoutButton
{
    padding: 0.7em;
    background-color: #D01547;
    float: right;
}

#checkoutButton a
{
    color: #FEFFF8;
}



