body
{
    font-size: .85em;
    font-family: Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    
}

footer,
nav,
section {
    display: block;
}

header 
{
    background-color: #55B;
    color: white;
	/*float: left;*/
	z-index: 2;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	
}

#headerContent
{
    background-color: #ACE;
    width: 860px;
    height: 2em;
    margin: auto;
    
}

section
{
    width: 860px;
    margin: auto;
    margin-top: 2em;
}

footer
{
    width: 100%;
}

#footerContent
{
    width: 860px;
    margin: auto;
}

#footerContent p
{
    float: right;
}



/* Styles for basic forms
-----------------------------------------------------------*/

ul
{
    list-style-type: none;
}

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for special forms
------------------------------------------------------------------------ */

#navlist
{
    margin: auto; 
}

#navlist li
{
     display: inline;
}

#searchForm
{
    float: right;    
}



